body {
	background: none !important;
}
.bg-image-wrapper img {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	opacity: 0.6;
}
.maintenance-container {
	position: relative;
	background-color: #000;
	color: #FFF;
}
.maintenance-content-container {
	position: absolute;
	top: 50%;
}
@media only screen and (max-width: 576px) {
	.maintenance-content-container {
		padding: 15px;
		width: 100%;
	}
}
.maintenance-content-container .site-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.maintenance-content-container .site-name {
	margin-bottom: 0;
}
.maintenance-content-container .site-name a {
	color: #FFF;
	text-decoration: none;
}
.maintenance-content-container.left {
	left: 0;
	transform: translate(5%, -50%);
	text-align: left;
}
.maintenance-content-container.center {
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.maintenance-content-container.right {
	right: 0;
	transform: translate(-5%, -50%);
	text-align: right;
}
.maintenance-content-wrapper .maintenance-title {
	color: #FFF;
}
.maintenance-content-wrapper .maintenance-content {
	font-size: 18px;
}
