{% if enable_advanced_options %}
  <div id="page-wrapper">
    <div id="page">
      <div class="maintenance-container">
        <div class="bg-container bg-image-wrapper">
          <!-- <div class="bg-image" style="background-image: url('{{file_url}}');"></div> -->
          <img src="{{ file_url }}" alt="{{ 'Maintenance mode'|t }}"/>
        </div>
        <div class="maintenance-content-container {{position_maintenance_message}}">
          <div class="content">
            <header role="banner" class="site-logo-name">
              {% if logo and display_site_logo %}
              <div class="site-logo">
                <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
                  <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
                </a>
              </div>
              {% endif %}

              {% if site_name or site_slogan %}
                <div class="name-and-slogan">
                  {% if site_name and display_site_name %}
                   <h1 class="site-name">
                     <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
                   </h1>
                  {% endif %}

                  {% if site_slogan and display_site_slogan %}
                    <div class="site-slogan">{{ site_slogan }}</div>
                  {% endif %}
                </div>
              {% endif %}
            </header>

            <main role="main" class="maintenance-content-wrapper">
              {#{% if title %}
                <h2 class="maintenance-title">{{ title }}</h2>
              {% endif %}#}
              <div class="maintenance-content">{{ maintenance_message|t |raw  }}</div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
